<h1>Pipes Básicos</h1>
<p>Pipes incluidos en Angular - Usualmente en el CommonModule.</p>
<div class="grid">
    <div class="col">
        <p-card header="uppercase" [subheader]="nombreLower | uppercase" [style]="{'border': '1px solid white'}">
            {{ nombreLower }} -> {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="col">
        <p-card header="lowercase" [subheader]="nombreUpper | lowercase" [style]="{'border': '1px solid white'}">
            {{ nombreUpper }} -> {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="col">
        <p-card header="titleCase" [subheader]="nombreFull | titlecase" [style]="{'border': '1px solid white'}">
            {{ nombreFull }} -> {{ nombreFull | titlecase }}
        </p-card>
    </div>
</div>

<h1>Date | Fecha | Pipe</h1>
<p>Pipe para mostrar las fechas</p>
<div class="grid">
    <div class="col-6">
        <p-card [style]="{'border': '1px solid white'}">
            <ul>
                <li>Fecha</li>
                <li>Fecha | date (default 'mediumDate' -- equivalent to --> 'MMM d, y')</li>
                <li>Fecha | date:'short'</li>
                <li>Fecha | date:'long'</li>
                <li>Fecha | date:'dd-MM-yyyy'</li>
                <li>Fecha | date:'MMMM dd, yyyy'</li>
            </ul>

            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-6'</li>
                <li>fecha | date:'long':'GMT-4'</li>
                <li>fecha | date:'long':'':'fr'</li>
            </ul>
        </p-card>
    </div>
    <div class="col-6">
        <p-card [style]="{'border': '1px solid white'}">
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short'}}</li>
                <li>{{ fecha | date:'long'}}</li>
                <li>{{ fecha | date:'dd-MM-yyyy'}}</li>
                <li>{{ fecha | date:'MMMM dd, yyyy'}}</li>
            </ul>

            <hr>
            <ul>
                <li>{{ fecha | date:'long':'GMT-6'}}</li>
                <li>{{ fecha | date:'long':'GMT-4'}}</li>
                <li>{{ fecha | date:'long':'':'fr'}}</li>
            </ul>
        </p-card>
    </div>
</div>