<h1>Pipes personalizados</h1>
<p>Pipes creados por {{ 'nosotros' | mayuscula }}</p>
<p>Pipes creados por {{ 'nosotros' | mayuscula:isUpperCase }}</p>


<p-toolbar>
    <div class="p-toolbar-group-left">

    </div>

    <div class="p-toolbar-group-right">
        <button type="button" (click)="isUpperCase = !isUpperCase" pButton label="Toggle mayúscula" aria-label="Boton"
            icon="pi pi-refresh" class="mr-1 p-button-outlined p-button-help"></button>
        <button type="button" pButton icon="pi pi-sort" label="Por nombre" aria-label="Botón" class="mr-1"></button>
        <button type="button" pButton icon="pi pi-sort" label="Valores" aria-label="Botón"
            class="mr-1 p-button-warning"></button>
        <button type="button" pButton icon="pi pi-sort" label="Por color" aria-label="Botón"
            class="mr-1 p-button-info"></button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2">
        <p-table [value]="heroes" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Flying</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{ heroe.name }}</td>
                    <td>{{ heroe.flying }}</td>
                    <td>{{ heroe.color }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>